html {
    box-sizing: border-box;
}
*,
*::after,
*::before {
    box-sizing: inherit;
}
body {
    margin: 0 !important;
    padding: 0 !important;
    background: #1FA2FF;
    background: linear-gradient(to right, #A6FFCB, #12F8DA, #1FA2FF);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.contenedor {
    display: grid;
    margin: 0 auto;
    height: 110vh;
    background-color: teal;
}
.contenedor > * {
    font-size: 1.4rem;
    padding: 2rem;
}
.header {
    background-color: slateblue;
    grid-area: header;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.a img {
    width: 75px;
}
.b {
    background-color: darkorange;
}
.c {
    background-color: teal;
}
.nav {
    background-color: tomato;
    grid-area: nav;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}
.main {
    background-color: tomato;
    grid-area: contenido;
}
.left {
    background-color: lightgreen;
    grid-area: left;
}
.right {
    background-color: lightcoral;
    grid-area: right;
}
.footer {
    background-color: slateblue;
    grid-area: footer;
}
/* Desktop */
@media screen and (min-width:600px) {
    .contenedor {
        grid-template-areas: 
        "header header header header"
        "left contenido contenido contenido"
        "left contenido contenido contenido"
        "left contenido contenido contenido"
        "left contenido contenido contenido";
        grid-template-columns: 30% 70%;
        grid-template-rows: 80px auto;
    }
    .logo {
        width: 10%;
        max-width: 100%;
    }
}
/* Mobile & Tablet */
@media screen and (max-width:600px) {
    .contenedor {
        grid-template-areas: 
        "header "
        "contenido"
        "contenido"
        "contenido"
        "contenido"
        "contenido";
        grid-template-columns: 100%;
        grid-template-rows: 80px 100%;
    }
}