html {
    box-sizing: border-box;
}
*,
*::after,
*::before {
    box-sizing: inherit;
}
body {
    margin:0;
    background: #1FA2FF;
    background: linear-gradient(to right, #A6FFCB, #12F8DA, #1FA2FF);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.contenedor {
    display: grid;
    margin: 0 auto;
    height: 100vh;
    background-color: teal;
}
.contenedor > * {
    font-size: 1.4rem;
    padding: 2rem;
}
.header {
    background-color: slateblue;
    grid-area: header;
}
.nav {
    background-color: tomato;
    grid-area: nav;
}
.main {
    background-color: firebrick;
    grid-area: contenido;
}
.left {
    background-color: lightgreen;
    grid-area: left;
}
.right {
    background-color: lightcoral;
    grid-area: right;
}
.footer {
    background-color: slateblue;
    grid-area: footer;
}
@media screen and (min-width:768px) {
    .contenedor {
        grid-template-areas: 
        "header header header header"
        "left nav nav nav"
        "left contenido contenido right"
        "left contenido contenido right"
        "footer footer footer right";
        grid-template-columns: repeat(4, 25%); /* 4, */
        grid-template-rows: 80px 80px auto auto 80px;
        grid-gap: .5rem;
    }
}